In [2]:
#while else stmt
notes =5
i=1
while i<notes:
    print(i)
    i+=1
else:
    print("no 10 rs notes available")

1
2
3
4
no 10 rs notes available

In [6]:
#datasets
s='my name is daniel'

In [7]:
s[0]

'm'

In [11]:
s[3:30]

'name is daniel'

In [13]:
s[0::2]

'm aei ail'

In [14]:
s[::2]

'm aei ail'

In [18]:
s[::-1
]

'leinad si eman ym'

In [19]:
s[2:-2]

' name is dani'

In [36]:
#for Loop
for i in s:
    if i==" ":
        continue
    print(i)

m
y
n
a
m
e
i
s
d
a
n
i
e
l

In [43]:
s="ineuron"
ss=""
for i in range(len(s)):
    if s[i]=="n":
        continue
    ss=s[i]+ss

In [44]:

ss

'oruei'

In [51]:
n=int(input("enther the integer: "))
for i in range(0,n): #row data
    for j in range(0,i+1): #column data
        print("+ ",end="")
    print("\r")

enther the integer: 8
+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +
+ + + + + + + +

In [52]:
n=int(input("enther the integer: "))
for i in range(n,0,-1):

SyntaxError: unexpected EOF while parsing (<ipython-input-52-46fbe3a2574b>, line 4)

In [71]:
n=3
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(2*i-1):
        print('*',end="")
    print()

*****
 ***
  *

In [91]:
row=5
for i in range(row):
    print(" "*i+" *"*(row-i))

 * * * * *
  * * * *
   * * *
    * *
     *

In [103]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [104]:
n=5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [105]:
n=5
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [107]:
n=5
for i in range(n):
    for j in range(i,n):
        print("",end="")
    for j in range(i+1):
        print()
    print()

 *
 *  *
 *  *  *
 *  *  *  *

In [115]:
n=5
for i in range(n):
    for j in range(n-1):
        print(" ")
    for j in range(i):
        print(" *",end="")

 *



 * *



 * * *



 * * * *

In [121]:
n=5
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ",end="")
    
    for j in range(2*i-1):
        print("*",end="")
    print()

*********
 *******
  *****
   ***
    *

In [129]:
n=5
for i in range(n):#rows
    for j in range(n-i): #for space in the columns
        print(" ",end="")
    
    for j in range(i+1):# for * in the cloumn
        print("*",end="")
    print()

     *
    **
   ***
  ****
 *****

In [2]:
n=5
for i in range(n+1):#rows
    for j in range(n,i): #for space in the columns
        print(" ",end="")
    
    for j in range(i):# for * in the cloumn
        print(i,end="")
    print()

1
22
333
4444
55555

In [ ]:
n=int(input("enter the no: "))
for i in range(n):
    for j in range(i):
        print("* ",end="")
    print()

In [9]:
n=int(input("enter the no: "))
for i in range(n+1): #for rows 
    for j in range(i): # for printing in columns
        print("* ",end="")#end is to end line
    
    print()#to end the row

enter the no: 5

*
* *
* * *
* * * *
* * * * *

In [23]:
n=int(input("enter the no: "))
for i in range(n+1):
    for j in range(n-i):
        print(" ",end="")
    for j in range(i):
        print(i,end="")
    print()

enter the no: 5

    1
   22
  333
 4444
55555

In [35]:
n=int(input("enter the no: "))
for i in range(n):
    for j in range(2*(n-i)-1):
        print(" ",end="")
    for j in range(2*i+1):
        print("* ",end="")
    print()

enter the no: 5
         *
       * * *
     * * * * *
   * * * * * * *
 * * * * * * * * *

In [39]:
n=int(input("enter the no: "))
for i in range(n):
    for j in range(n-i):
        print("* ", end="")
    print()

enter the no: 5
* * * * *
* * * *
* * *
* *
*

In [43]:
n=int(input("enter the no: "))
for i in range(n):
    for j in range(i):
        print(" ", end="")
    for j in range(n-i):
        print("*", end="")
    print()

enter the no: 5
*****
 ****
  ***
   **
    *

In [56]:
n=int(input("enter the no: "))
count=0
for i in range(n):
    for j in range(i+1):
        print(count+1, end="")
        count = count+1
    print(" ")

enter the no: 5
1
23
456
78910
1112131415

In [80]:
n=int(input("enter the no: "))
for i in range(n):
    for j in range(i):
        print("*", end="")
    for j in range(2*n-2*i):
        print(" ", end="")
    for j in range(i):
        print("*", end="")
    print()
    
for i in range(n,0,-1):
    for j in range(i):
        print("*", end="")
    for j in range(2*n-2*i):
        print(" ", end="")
    for j in range(i):
        print("*", end="")
    print()

enter the no: 5

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [87]:
n=int(input("enter the no: "))
for i in range(n,0,-1):
    for j in range(n-i):
        print(" ", end="")
    for j in range(i):
        print(" *",end="")
    print()

enter the no: 5
 * * * * *
  * * * *
   * * *
    * *
     *

In [2]:
#List
#carries homogenous or Hetrogenous data
name="mukhil"
phone="895646566"
addr="adadad"
l=["mukhil",234234,"daskjdkajk"]

In [3]:
l

['mukhil', 234234, 'daskjdkajk']

In [4]:
l[0]

'mukhil'

In [5]:
l2=list()

In [6]:
type(l2)

list

In [10]:
l=["mukhil",45658,"adsdasd", False, (45+9j),[3,4,2,34,"asdas"],67]

In [15]:
for i in l:
    if type(i)==list:
        n=0
        for j in i:   
            if type(j)==int:
                n=n+j
        print(n)
        print(type(n))    
        print(type(j))

43
<class 'int'>
<class 'str'>

In [19]:
l[8:3:-1]

[67, [3, 4, 2, 34, 'asdas'], (45+9j)]

In [24]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
for i in range(4,50):
    print(i)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [26]:
len(l)

7

In [27]:
#write a python Program to sum all the items in a list
items=[25,25,25,25]
sum=0
for i in items:
    sum +=i
print(sum)

100

In [33]:
# Write a Python program to count the number of strings where the string length is 2 or
# more and the first and last character are same from a given list of strings.
strings=["a",34,"asd","adod","lil","awaa"]
count=0
for i in strings:
    if type(i)==str:
        if len(i)>1 and i[0]==i[-1]:
            count +=1
            print(i)    
print(count)

lil
awaa
2

In [ ]:
#Write a Python program to remove duplicates from a list.
lot=[10,45,67,45,90,67,78,87]
dup=[]
for i in lot:
    if i