In [1]:
print("this is my first python program")

this is my first python program

In [1]:
#my name is mukhil

In [5]:
a=10

In [6]:
a

10

In [10]:
# to identify the type of data type
type(a)

int

In [11]:
# python automatically detects the datatype on its own
b="mukhil"

In [12]:
type(b)

str

In [14]:
# can print multiple things
print(a,b)

10 mukhil

In [16]:
a,b,c=45,"khil", 'what is your name'

In [22]:
type(a)

int

In [29]:
b=3435

In [30]:
a=3.4545

In [31]:
type(a)

float

In [32]:
c=True
d=False

In [33]:
type(c)

bool

In [37]:
print(True+True+True+False+True)

4

In [38]:
print(False-True+True)

0

In [40]:
True/False

ZeroDivisionError: division by zero

In [43]:
#Complex number 
n=45+6j

In [44]:
type(n)

complex

In [45]:
n.real

45.0

In [49]:
n.imag

6.0

In [53]:
#typecasting or strong typing
str(1)+"kjil"

'1kjil'

In [55]:
#upcasting as int is changed to float
#as float take more memory space than int
1+4.3

5.3

In [56]:
"jill"+'lill'+'hill'

'jilllillhill'

In [57]:
"jill"*3

'jilljilljill'

In [59]:
a=10

In [61]:
# getting input from user
a=input()

45

In [62]:
a

'45'

In [76]:
"""take a input from user 
a,b,c
then perform (a+b)/c
concatenate with complex variable
output +string """

a=int(input("enter the value of a= "))
b=int(input("enter the value of b= "))
c=int(input("enter the value of c= "))
o=a+b/c
print(o)

enter the value of a= 2
enter the value of b= 2
enter the value of c= 2
3.0

In [77]:
o1=o+78+7j

In [78]:
print(o1)

(81+7j)

In [80]:
str(o1)+"mukhil"

'(81+7j)mukhil'

In [81]:
#conditional Statement

enter the number less than 45: 67

In [94]:
a=int(input("enter the number less than 45: "))
if a <45:
    print("data input less than 45",a)
elif a<100:
    print("my data is less than 100: ",a )
else:
    print("data input is greater",a)

enter the number less than 45: 89
my data is less than 100:  89

In [100]:
salary= int(input("enter you salary: "))
if salary>1000:
    print("buy a car: ", salary)
elif salary>500:
    print("buy a bike: ", salary)
elif salary>100:
    print("no Buy", salary)
else :
    print("save the money: ", salary)

enter you salary: 200
no Buy 200

In [104]:
#nested statements
salary= int(input("enter you salary: "))
if salary>1000:
    print("buy a car: ", salary)
    if salary<5000 and salary<10000:
        print("buy maruti car")
        if True:
            print("false code")
    elif salary>10000:
        print(" buy Ducati")
    elif salary>50000:
        print("buy toyata")
    else:
        print("rent a car")
elif salary>500:
    print("buy a bike: ", salary)
elif salary>100:
    print("no Buy", salary)
else :
    print("save the money: ", salary)

enter you salary: 10067
buy a car:  10067
 buy Ducati